<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Eppractical5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>Registration</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>login</servlet-class>    
  </servlet>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>Feedback</servlet-class>
    
  </servlet>
  <servlet>
    <description></description>
    <display-name>FeedBackDisplay</display-name>
    <servlet-name>FeedBackDisplay</servlet-name>
    <servlet-class>FeedBackDisplay</servlet-class>
    
  </servlet>
</web-app>